Repository atom-dispencer/iAtomSys, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Actions, VM, Assembler, Linker, Compiler

.github/labeler.yml:

# Configuration for the Pull Request Labeler

Documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'
    - '**/*.md'
    - '**/docs/**'

Actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

VM:
- changed-files:
  - any-glob-to-any-file:
    - 'VM/**'

Assembler:
- changed-files:
  - any-glob-to-any-file:
    - 'Assembler/**'

Linker:
- changed-files:
  - any-glob-to-any-file:
    - 'Linker/**'

Compiler:
- changed-files:
  - any-glob-to-any-file:
    - 'Compiler/**'

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'master'
development:
 - base-branch: 'develop'

Extracted help message formatting
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/test/java/uk/iatom/iAtomSys/client/TestShellCommands.java
Labels: VM

Test Hello
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/test/java/uk/iatom/iAtomSys/client/TestShellCommands.java
Labels: VM

StepRqP tests and some LoadRqP tests
  VM/src/main/java/uk/iatom/iAtomSys/common/api/LoadRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/StepRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestLoadRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestStepRequestPacket.java
Labels: VM

Remove redundant "simple" check in load
  VM/src/main/java/uk/iatom/iAtomSys/common/api/LoadRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestLoadRequestPacket.java
Labels: VM

Correct error message assertion
  VM/src/main/java/uk/iatom/iAtomSys/common/api/SetRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestLoadRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestSetRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestStepRequestPacket.java
Labels: VM

RunRequestPacket tests
  VM/src/main/java/uk/iatom/iAtomSys/common/api/RunRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestRunRequestPacket.java
Labels: VM

MemoryRequestPacket tests
  VM/src/main/java/uk/iatom/iAtomSys/common/api/MemoryRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestMemoryRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestRunRequestPacket.java
Labels: VM

Set command tests
  VM/src/main/java/uk/iatom/iAtomSys/common/api/SetRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/test/java/uk/iatom/iAtomSys/server/net/TestCommandRestController.java
Labels: VM

DropDebug tests
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbols.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/test/java/uk/iatom/iAtomSys/server/net/TestCommandRestController.java
Labels: VM

Everything is now a Char
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/client/disassembly/MemoryDisassembler.java
  VM/src/main/java/uk/iatom/iAtomSys/common/Int16Helper.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/MemoryResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PortOutputResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PortPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PortWriteRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/RegisterPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/configuration/CommonBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/common/instruction/FlagHelper.java
  VM/src/main/java/uk/iatom/iAtomSys/common/instruction/Instruction.java
  VM/src/main/java/uk/iatom/iAtomSys/common/register/Register.java
  VM/src/main/java/uk/iatom/iAtomSys/common/register/RegisterReference.java
  VM/src/main/java/uk/iatom/iAtomSys/common/register/RegisterSet.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/ServerBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/VmConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/IOPort.java
  VM/src/main/java/uk/iatom/iAtomSys/server/instruction/InstructionExecutor.java
  VM/src/main/java/uk/iatom/iAtomSys/server/memory/Memory.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/stack/ProcessorStack.java
  VM/src/main/java/uk/iatom/iAtomSys/server/stack/ProcessorStackOverflowException.java
  VM/src/test/java/uk/iatom/iAtomSys/server/net/TestCommandRestController.java
Labels: VM

Oh boy... Chars cause some issues...
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/ApiClientConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/client/disassembly/MemoryDisassembler.java
  VM/src/main/java/uk/iatom/iAtomSys/common/Int16Helper.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/MemoryRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/instruction/InstructionExecutor.java
  VM/src/main/java/uk/iatom/iAtomSys/server/memory/Memory.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestMemoryRequestPacket.java
Labels: VM

LETS GO! I finally pinned down my edge cases!
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
Labels: VM

Two bytes now correctly combined to char
  VM/src/main/java/uk/iatom/iAtomSys/common/Int16Helper.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestInt16Helper.java
Labels: VM

No more 'null' at the end of memory space
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
Labels: VM

Maximum memory space now visible
  VM/src/main/java/uk/iatom/iAtomSys/server/memory/Memory.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Update erroneous help message for 'run'
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
Labels: VM

Some tbreak shenanigans
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/common/Int16Helper.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/ToggleBreakpointRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/test/java/uk/iatom/iAtomSys/server/net/TestCommandRestController.java
Labels: VM

Who even knows....
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/ToggleBreakpointRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
  VM/src/test/java/uk/iatom/iAtomSys/server/net/TestCommandRestController.java
Labels: VM

Breakpoints and tests...
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/common/AddressFormatException.java
  VM/src/main/java/uk/iatom/iAtomSys/common/register/RegisterSet.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/test/java/uk/iatom/iAtomSys/server/net/TestCommandRestController.java
Labels: VM

All the tests pass!
  VM/src/main/java/uk/iatom/iAtomSys/common/AddressFormatException.java
  VM/src/main/java/uk/iatom/iAtomSys/common/AddressHelper.java
  VM/src/main/java/uk/iatom/iAtomSys/common/Int16Helper.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/SetRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/memory/Memory.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestInt16Helper.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestSetRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/server/net/TestCommandRestController.java
Labels: VM

Moved packet tests to correct package
  VM/src/main/java/uk/iatom/iAtomSys/common/api/MemoryResponsePacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/TestAddressHelper.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestLoadRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestMemoryRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestRunRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestSetRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestStepRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/register/TestRegister.java
Labels: VM

Squashed commit of the following:
  Assembler/README.md
  Assembler/iatomsys_assembler
  Assembler/lib/iatomsys_assembler.ex
  Assembler/mix.exs
  Compiler/README.md
  Compiler/example.c
  Linker/.gitignore
  Linker/README.md
  Linker/build.ps1
  Linker/test.asm
Labels: Documentation, Assembler, Linker, Compiler

Example assembly code
  Assembler/README.md
  Assembler/lib/iasm.ex
  Assembler/mix.exs
Labels: Documentation, Assembler

Fixed CodeQL implicit narrowing conversion
  VM/src/main/java/uk/iatom/iAtomSys/server/instruction/InstructionExecutor.java
Labels: VM

Create codeql.yml
  .github/workflows/codeql.yml
Labels: Actions

Create codeql.yml
  .github/workflows/codeql.yml
Labels: Actions

Upgraded Spring
  VM/build.gradle
Labels: VM

Create sample
  CButWorse/sample
Labels: none

More packet tests
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PortOutputResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PortWriteRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/RunningDataPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestPortOutputResponsePacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestPortWriteRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestRunningDataPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/register/TestRegister.java
Labels: VM

Breakpoint display and a teeny bit of formatting
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/common/AddressFormatException.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbols.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/LoadRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/MemoryRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/MemoryResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/RunRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/SetRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/StepRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/instruction/InstructionExecutor.java
  VM/src/main/java/uk/iatom/iAtomSys/server/memory/Memory.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/test/java/uk/iatom/iAtomSys/client/TestShellCommands.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestLoadRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestMemoryRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestRunningDataPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestSetRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestStepRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/common/register/TestRegister.java
  VM/src/test/java/uk/iatom/iAtomSys/server/net/TestCommandRestController.java
Labels: VM

Breakpoints work!
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/ToggleBreakpointRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestToggleBreakpointRequestPacket.java
Labels: VM

TBreak extra arguments
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/ToggleBreakpointRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
Labels: VM

Help message on stopped page
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/test/java/uk/iatom/iAtomSys/common/api/TestToggleBreakpointRequestPacket.java
Labels: VM

Preparing to add Flags to the running UI
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
Labels: VM

Flags box introduced, and more memory real estate
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/ApiClientConfiguration.java
Labels: VM

Flags and Ports now displayed
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/common/instruction/FlagHelper.java
Labels: VM

Preparation for release 0.6
  VM/README.md
  VM/debug.ps1
  VM/docs/paused.png
  VM/docs/running.png
  VM/docs/stopped.png
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
Labels: Documentation, VM

Tested on PowerShell and CMD and found some issues...
  VM/README.md
Labels: Documentation, VM

Tested on PowerShell and CMD and found some issues...
  VM/README.md
Labels: Documentation, VM

Oops, another problem on MinGW...
  VM/README.md
Labels: Documentation, VM
