Repository atom-dispencer/iAtomSys, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Actions, VM, Assembler, Linker, Compiler

.github/labeler.yml:

# Configuration for the Pull Request Labeler

Documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'
    - '**/*.md'
    - '**/docs/**'

Actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

VM:
- changed-files:
  - any-glob-to-any-file:
    - 'VM/**'

Assembler:
- changed-files:
  - any-glob-to-any-file:
    - 'Assembler/**'

Linker:
- changed-files:
  - any-glob-to-any-file:
    - 'Linker/**'

Compiler:
- changed-files:
  - any-glob-to-any-file:
    - 'Compiler/**'

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'master'
development:
 - base-branch: 'develop'

Moved to new package .shell
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/ClientBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/CommandNotFoundConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/CustomExceptionResolver.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/ShellBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/client/shell/ANSICodes.java
  VM/src/main/java/uk/iatom/iAtomSys/client/shell/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/shell/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/shell/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/shell/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/client/shell/ShellDrawingException.java
  VM/src/test/java/uk/iatom/iAtomSys/client/TestShellCommands.java
Labels: VM

Ripped terminal funtionality out of shelldisplay with my bare fists
  VM/build.gradle
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/CommandNotFoundConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/CustomExceptionResolver.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/ParserConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/ShellBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/ShellPromptConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/ShellThemeSettings.java
  VM/src/main/java/uk/iatom/iAtomSys/client/shell/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/shell/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/shell/Terminal.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/SetRequestPacket.java
  VM/src/test/java/uk/iatom/iAtomSys/client/TestShellCommands.java
Labels: VM

Reorganise Terminal
  VM/src/main/java/uk/iatom/iAtomSys/client/shell/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/shell/Terminal.java
Labels: VM

shell_rewrite to VM-0.7
  .github/workflows/vm_ci.yml
Labels: Actions

Run script
  Assembler/iatomsys_assembler
  Assembler/lib/iatomsys_assembler.ex
  Assembler/run.ps1
Labels: Assembler

Swapping Elixir to Haskell for assembler
  Assembler/.gitignore
  Assembler/CHANGELOG.md
  Assembler/LICENSE
  Assembler/README.md
  Assembler/app/Main.hs
  Assembler/iasm.cabal
  Assembler/iatomsys_assembler
  Assembler/lib/iatomsys_assembler.ex
  Assembler/mix.exs
  Assembler/run.ps1
  Assembler/test/iatomsys_assembler_test.exs
  Assembler/test/test_helper.exs
Labels: Documentation, Assembler

Basic argument parsing
  Assembler/app/Main.hs
  Assembler/iasm.cabal
  Assembler/run.ps1
Labels: Assembler

Credits/Greeting message!!
  Assembler/app/Main.hs
Labels: Assembler

Display program arguments
  Assembler/app/Main.hs
Labels: Assembler

Mutually exclusive command line argument parsing
  Assembler/app/Main.hs
  Assembler/run.ps1
Labels: Assembler

Moving stuff into modules!
  Assembler/app/IASM/Options.hs
  Assembler/app/Main.hs
  Assembler/iasm.cabal
Labels: Assembler

SILENT Verbosity hides credits banner
  Assembler/app/IASM/Options.hs
  Assembler/app/Main.hs
Labels: Assembler

Some file checking?
  Assembler/app/Main.hs
  Assembler/iasm.cabal
  Assembler/run.ps1
Labels: Assembler

silly things that dont compile
  Assembler/app/IASM/Assembler.hs
  Assembler/app/IASM/FileHelper.hs
  Assembler/app/IASM/Linker.hs
  Assembler/app/Main.hs
  Assembler/iasm.cabal
  Assembler/run.ps1
Labels: Assembler

Assembler documentation
  Assembler/README.md
  Assembler/app/IASM/FileHelper.hs
Labels: Documentation, Assembler

Ok I think I understand IO in Haskell a bit better now...
  Assembler/app/IASM/FileHelper.hs
  Assembler/app/Main.hs
  Assembler/iasm.cabal
Labels: Assembler

Setting up the program less terribly
  Assembler/app/Main.hs
Labels: Assembler

Dummy file IO
  Assembler/app/IASM/Assembler.hs
  Assembler/app/IASM/Linker.hs
  Assembler/app/Main.hs
Labels: Assembler

Moving towards starting to move towards assembly
  Assembler/app/IASM/Assembler.hs
  Assembler/app/Main.hs
  Assembler/docs/examples/multitest/multitest1.iasm
  Assembler/docs/examples/multitest/multitest2.iasm
  Assembler/docs/examples/multitest/multitest3.iasm
  Assembler/docs/examples/singletest/singletest.iasm
  Assembler/run.ps1
Labels: Documentation, Assembler

List splitting/batching, file extensio parsing
  Assembler/app/IASM/Assembler.hs
  Assembler/app/IASM/Options.hs
  Assembler/app/Main.hs
  Assembler/iasm.cabal
  Assembler/run.ps1
Labels: Assembler

Assembly pipeline signatures
  Assembler/app/IASM/Assembler.hs
Labels: Assembler

Docs for assembly steps.
  Assembler/app/IASM/Assembler.hs
Labels: Assembler

Pondering code for the C-equivalent language...
  Assembler/app/IASM/Assembler.hs
  Assembler/docs/testing.js
Labels: Documentation, Assembler

Branchless testing.js
  Assembler/docs/testing.js
Labels: Documentation, Assembler

Pondering the possibilities
  Assembler/docs/sieve/sieve.js
  Assembler/docs/sieve/sieve.py
Labels: Documentation, Assembler
