Repository atom-dispencer/iAtomSys, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Actions, VM, Assembler, Linker, Compiler

.github/labeler.yml:

# Configuration for the Pull Request Labeler

Documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'
    - '**/*.md'
    - '**/docs/**'

Actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

VM:
- changed-files:
  - any-glob-to-any-file:
    - 'VM/**'

Assembler:
- changed-files:
  - any-glob-to-any-file:
    - 'Assembler/**'

Linker:
- changed-files:
  - any-glob-to-any-file:
    - 'Linker/**'

Compiler:
- changed-files:
  - any-glob-to-any-file:
    - 'Compiler/**'

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'master'
development:
 - base-branch: 'develop'

Master gitignore moved to VM
  .gitignore
  VM/.gitignore
Labels: VM

Created VERY basic Escript Elixir project
  Assembler/README.md
  Assembler/iatomsys_assembler
  Assembler/lib/iatomsys_assembler.ex
  Assembler/mix.exs
Labels: Documentation, Assembler

Assembly stuff
  Compiler/README.md
  Compiler/example.c
  Linker/README.md
  Linker/iatomsys_linker.s
Labels: Documentation, Linker, Compiler

I GOT ASSEMBLY WORKING
  Linker/.gitignore
  Linker/README.md
  Linker/build.ps1
  Linker/iatomsys_linker.s
  Linker/test.asm
Labels: Documentation, Linker

Update test.asm
  Linker/test.asm
Labels: Linker

Debug symbol parsing, IOPort endpoints
  .gitignore
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbols.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/GetPortResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PostPortRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/IOPort.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Register/PortPacket improvements
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/ShellBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbols.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbolsRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/GetPortResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/MemoryResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PortOutputResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PortPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PortWriteRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/IOPort.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

DropDebug command
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbols.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Implementation & Display fixes
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/IOPort.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Run command & set and stopped updates
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/RunRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/SetRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/common/register/RegisterSet.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/AsyncConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/VmConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
Labels: VM

THE VM RUNS
  VM/images/infinite.img
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/CommandNotFoundConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/CustomExceptionResolver.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/RunningDataPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/common/instruction/FlagHelper.java
  VM/src/main/java/uk/iatom/iAtomSys/server/AsyncRunData.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/AsyncConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/VmConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Uptime Display
  VM/src/main/java/uk/iatom/iAtomSys/IAtomSysApplication.java
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Fixed error reporting for set command value
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
Labels: VM

Reformatting
  VM/src/main/java/uk/iatom/iAtomSys/IAtomSysApplication.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/ApiClientConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/client/disassembly/MemoryDisassembler.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/SetRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/ServerBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/IOPort.java
  VM/src/main/java/uk/iatom/iAtomSys/server/instruction/InstructionExecutor.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/DefaultRestController.java
Labels: VM

Continued implementation of DebugSymbols
  VM/README.md
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbols.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbolsRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PortPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/RegisterPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/register/Register.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: Documentation, VM

Start of VM-0.5
  .github/workflows/vm_ci.yml
Labels: Actions

Continuing migration to DebugSymbols
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbols.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Available memory images now listed.
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VMStateResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/DefaultRestController.java
Labels: VM

Debug symbol parsing, IOPort endpoints
  .gitignore
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbols.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/GetPortResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PostPortRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/IOPort.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Reserved memory addresses now displayed
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VMStateResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/VmConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/IOPort.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/DefaultRestController.java
Labels: VM

Register/PortPacket improvements
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/ShellBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbols.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbolsRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/GetPortResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/MemoryResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PortOutputResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PortPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PortWriteRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/IOPort.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

DropDebug command
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbols.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Minor reformatting of the ShellDisplay
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
Labels: VM

Added a 'running' switch to ShellDisplayState
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
Labels: VM

Run command & set and stopped updates
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/RunRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/SetRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/common/register/RegisterSet.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/AsyncConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/VmConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
Labels: VM

Uptime Display
  VM/src/main/java/uk/iatom/iAtomSys/IAtomSysApplication.java
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Master gitignore moved to VM
  .gitignore
  VM/.gitignore
Labels: VM

Fixed cyclic beans for VmConfiguration
  VM/run.ps1
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/ServerBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/VMConfiguration.java
Labels: VM

Implementation & Display fixes
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/IOPort.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Fixed error reporting for set command value
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
Labels: VM

Dynamic memory state width
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/ApiClientConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/ClientBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/AsyncConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/ServerBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/VmConfiguration.java
Labels: VM

Split up 'status' API
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/ShellBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/MemoryRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/MemoryResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/SetRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VMStateResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmStatus.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/instruction/InstructionExecutor.java
  VM/src/main/java/uk/iatom/iAtomSys/server/memory/Memory.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

THE VM RUNS
  VM/images/infinite.img
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/CommandNotFoundConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/CustomExceptionResolver.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/RunningDataPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/common/instruction/FlagHelper.java
  VM/src/main/java/uk/iatom/iAtomSys/server/AsyncRunData.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/AsyncConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/VmConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Memory state complains if you swash it
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
Labels: VM

Start VM-0.6
  .github/workflows/vm_ci.yml
Labels: Actions

I GOT ASSEMBLY WORKING
  Linker/.gitignore
  Linker/README.md
  Linker/build.ps1
  Linker/iatomsys_linker.s
  Linker/test.asm
Labels: Documentation, Linker

Assembly stuff
  Compiler/README.md
  Compiler/example.c
  Linker/README.md
  Linker/iatomsys_linker.s
Labels: Documentation, Linker, Compiler

Update test.asm
  Linker/test.asm
Labels: Linker

Created VERY basic Escript Elixir project
  Assembler/README.md
  Assembler/iatomsys_assembler
  Assembler/lib/iatomsys_assembler.ex
  Assembler/mix.exs
Labels: Documentation, Assembler

Tests for ShellCommands.help
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/test/java/uk/iatom/iAtomSys/client/TestShellCommands.java
Labels: VM
