Repository atom-dispencer/iAtomSys, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Actions, VM, Assembler, Linker, Compiler

.github/labeler.yml:

# Configuration for the Pull Request Labeler

Documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'
    - '**/*.md'
    - '**/docs/**'

Actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

VM:
- changed-files:
  - any-glob-to-any-file:
    - 'VM/**'

Assembler:
- changed-files:
  - any-glob-to-any-file:
    - 'Assembler/**'

Linker:
- changed-files:
  - any-glob-to-any-file:
    - 'Linker/**'

Compiler:
- changed-files:
  - any-glob-to-any-file:
    - 'Compiler/**'

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'master'
development:
 - base-branch: 'develop'

Added Status badges for CodeQL and Gradle builds
  README.md
  VM/README.md
Labels: Documentation, VM

Added CodeQL Scanning via Actions
  .github/workflows/codeql.yml
  README.md
  VM/README.md
Labels: Documentation, Actions, VM

Update codeql.yml
  .github/workflows/codeql.yml
Labels: Actions

Delete codeql.yml
  .github/workflows/codeql.yml
Labels: Actions

Fixing CodeQL badge
  README.md
  VM/README.md
Labels: Documentation, VM

Add Status Badges for workflows
  README.md
  VM/README.md
Labels: Documentation, VM

Create codeql.yml
  .github/workflows/codeql.yml
Labels: Actions

Add CodeQL scanning via Actions, incl status badges
  .github/workflows/codeql.yml
  Assembler/example.ex
  Linker/example.c
  README.md
  VM/README.md
Labels: Documentation, Actions, VM, Assembler, Linker

Merge CodeQL integration into master (#8)
  .github/workflows/codeql.yml
  Assembler/example.ex
  Linker/example.c
  README.md
  VM/README.md
Labels: Documentation, Actions, VM, Assembler, Linker

Update README.md
  README.md
Labels: Documentation

Rewrote continuous integration for VM
  .github/workflows/build-vm-gradle.yml
  .github/workflows/codeql.yml
  .github/workflows/vm_ci.yml
  README.md
  VM/README.md
Labels: Documentation, Actions, VM

Rewrote continuous integration for VM
  .github/workflows/build-vm-gradle.yml
  .github/workflows/codeql.yml
  .github/workflows/vm_ci.yml
  README.md
  VM/README.md
Labels: Documentation, Actions, VM

Improved error messages for new Packet record system
  VM/images/test.img
  VM/run.ps1
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/LoadRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
Labels: VM

Fixed formatting for unparsable instructions
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/CommandNotFoundConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/CustomExceptionResolver.java
  VM/src/main/java/uk/iatom/iAtomSys/client/disassembly/MemoryDisassembler.java
Labels: VM

Added PCR pointer in memory display
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/client/disassembly/MemoryDisassembler.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VMStateResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/instruction/InstructionSet.java
  VM/src/main/java/uk/iatom/iAtomSys/common/register/RegisterSet.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/DefaultRestController.java
Labels: VM

Added set command
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/SetRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
Labels: VM

Feature/memory display (#12)
  .github/workflows/vm_ci.yml
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/CommandNotFoundConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/CustomExceptionResolver.java
  VM/src/main/java/uk/iatom/iAtomSys/client/disassembly/MemoryDisassembler.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/SetRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VMStateResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/instruction/InstructionSet.java
  VM/src/main/java/uk/iatom/iAtomSys/common/register/RegisterSet.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/DefaultRestController.java
Labels: Actions, VM

Get CI/CD version into the Java build
  VM/build.gradle
  VM/run.ps1
  VM/src/main/java/uk/iatom/iAtomSys/IAtomSysApplication.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
Labels: VM

Get CI/CD version into the Java build
  .github/workflows/vm_ci.yml
  VM/build.gradle
  VM/run.ps1
  VM/src/main/java/uk/iatom/iAtomSys/IAtomSysApplication.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
Labels: Actions, VM

Update run.ps1
  VM/run.ps1
Labels: VM

Gave VM publish contents: write permissions
  .github/workflows/vm_ci.yml
Labels: Actions

Devices
  VM/src/main/java/uk/iatom/iAtomSys/common/instruction/FlagHelper.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/AsyncConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/ServerBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/VMConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/BufferedIODevice.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/Device.java
Labels: VM

Converted Devices to IOPorts
  VM/README.md
  VM/src/main/java/uk/iatom/iAtomSys/client/disassembly/InstructionDisassembler.java
  VM/src/main/java/uk/iatom/iAtomSys/common/configuration/CommonBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/common/instruction/FlagHelper.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/ServerBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/BufferedIODevice.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/Device.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/IOPort.java
  VM/src/main/java/uk/iatom/iAtomSys/server/instruction/InstructionExecutor.java
Labels: Documentation, VM

Update vm_ci.yml
  .github/workflows/vm_ci.yml
Labels: Actions

Make VM CI workflow dispatchable
  .github/workflows/vm_ci.yml
Labels: Actions

Update ServerBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/ServerBeans.java
Labels: VM

VM-0.4
  .github/workflows/vm_ci.yml
  VM/README.md
  VM/src/main/java/uk/iatom/iAtomSys/client/disassembly/InstructionDisassembler.java
  VM/src/main/java/uk/iatom/iAtomSys/common/configuration/CommonBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/common/instruction/FlagHelper.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/ServerBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/BufferedIODevice.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/Device.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/IOPort.java
  VM/src/main/java/uk/iatom/iAtomSys/server/instruction/InstructionExecutor.java
Labels: Documentation, Actions, VM

Start of VM-0.5
  .github/workflows/vm_ci.yml
Labels: Actions

Fixed cyclic beans for VmConfiguration
  VM/run.ps1
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/ServerBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/VMConfiguration.java
Labels: VM

Minor reformatting of the ShellDisplay
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
Labels: VM

Dynamic memory state width
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/ApiClientConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/ClientBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/AsyncConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/ServerBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/VmConfiguration.java
Labels: VM

Added a 'running' switch to ShellDisplayState
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
Labels: VM

Available memory images now listed.
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VMStateResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/DefaultRestController.java
Labels: VM

Memory state complains if you swash it
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
Labels: VM

Reserved memory addresses now displayed
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VMStateResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/VmConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/IOPort.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/DefaultRestController.java
Labels: VM

Reformatting
  VM/src/main/java/uk/iatom/iAtomSys/IAtomSysApplication.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/ApiClientConfiguration.java
  VM/src/main/java/uk/iatom/iAtomSys/client/disassembly/MemoryDisassembler.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/SetRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/configuration/ServerBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/server/device/IOPort.java
  VM/src/main/java/uk/iatom/iAtomSys/server/instruction/InstructionExecutor.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/DefaultRestController.java
Labels: VM

Split up 'status' API
  VM/src/main/java/uk/iatom/iAtomSys/client/RemoteVMClient.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellCommands.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/client/configuration/shell/ShellBeans.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/MemoryRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/MemoryResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/SetRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VMStateResponsePacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmStatus.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/instruction/InstructionExecutor.java
  VM/src/main/java/uk/iatom/iAtomSys/server/memory/Memory.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/CommandRestController.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Continued implementation of DebugSymbols
  VM/README.md
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplay.java
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbols.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbolsRequestPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/PortPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/RegisterPacket.java
  VM/src/main/java/uk/iatom/iAtomSys/common/register/Register.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: Documentation, VM

Continuing migration to DebugSymbols
  VM/src/main/java/uk/iatom/iAtomSys/client/ShellDisplayState.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/DebugSymbols.java
  VM/src/main/java/uk/iatom/iAtomSys/common/api/VmClient.java
  VM/src/main/java/uk/iatom/iAtomSys/server/IAtomSysVM.java
  VM/src/main/java/uk/iatom/iAtomSys/server/net/StateRestController.java
Labels: VM

Create Assembler (Elixir) project template
  Assembler/.gitignore
  Assembler/README.md
  Assembler/example.ex
  Assembler/lib/iatomsys_assembler.ex
  Assembler/mix.exs
  Assembler/test/iatomsys_assembler_test.exs
  Assembler/test/test_helper.exs
Labels: Documentation, Assembler
